.jscroller2_up, .jscroller2_down, .jscroller2_left, .jscroller2_right {
 margin: 0;
 padding: 0;
}

.jscroller2_left, .jscroller2_right, .jscroller2_left_endless, .jscroller2_right_endless {
 white-space: nowrap;
}

/* Scroller Box */
#scroller_container_news {
 width: 155px;
 height: 450px;
 overflow: hidden;
}

#scroller_container_news h1 {
    margin-top: 14px;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    font-size: 13px;
    font-style: italic;
    /*text-decoration:underline; */
    font-weight:bold;
    color: black;
}

#scroller_container_news p {
    font-size: 12px;
    /* font-weight:bold; */
    color: black; 
    /*font-style: none;*/
    text-align: left; 
}


/* Scroller Box */
#scroller_container_head {
 width:  960px;
 height: 15px;
 font-style: italic;
 font-size: 10pt;
 overflow: hidden;
}


/* CSS Hack Safari */
/*#dummy {;# }*/

#scroller_container_news, #scroller_container_head {
 overflow: auto;
}

