.ddmx {
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    
    font-size: 16px;
}
/*#ddmx {*/
    /*font-family: Arial, Tahoma, Helvetica, sans-serif;*/
    
    /*font-size: 16px;*/
/*}*/

.ddmx .item1,
.ddmx .item1:hover,
.ddmx .item1-active,
.ddmx .item1-active:hover {
    font-family: Arial, Helvetica, Tahoma, sans-serif;
    font-size: 13px;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid #cccccc;
    /*background: #000000;*/
    background: white;
    /*color: #ffffff;*/
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    position: relative;
    /*text-align: center;*/
}
.ddmx .item1 {
    background: #94adbd;
}

.ddmx .item1 img,
.ddmx .item1-active img{
    position: absolute;
    top: 6px;
    right: 1px;
    border: 0;
}

.ddmx .item2,
.ddmx .item2:hover,
.ddmx .item2-active,
.ddmx .item2-active:hover {
    padding: 3px 10px 4px 10px;
    font-family: Helvetica, Arial, Tahoma, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    position: relative;
    z-index: 500;
}
.ddmx .item2 {
    background: #94adbd;
}
.ddmx .item2:hover,
.ddmx .item2-active,
.ddmx .item2-active:hover {
    background: #ffffff;
}
.ddmx .arrow,
.ddmx .arrow:hover {
    padding: 3px 16px 4px 8px;
}
.ddmx .item2 img,
.ddmx .item2-active img{
    position: absolute;
    top: 5px;
    right: 1px;
    border: 0;
}

.ddmx .item3,
.ddmx .item3:hover,
.ddmx .item3-active,
.ddmx .item3-active:hover {
    padding: 3px 30px 4px 5px;
    font-family: Helvetica, Arial, Tahoma, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    position: relative;
    z-index: 500;
}
.ddmx .item3 {
    background: #94adbd;
}
.ddmx .item3:hover,
.ddmx .item3-active,
.ddmx .item3-active:hover {
    background: #ffffff;
}
.ddmx .item3 img,
.ddmx .item3-active img{
    position: absolute;
    top: 1.5px;
    right: 1px;
    border: 0;
}


.ddmx .section {
    border: 1px solid #b8b4ae;
    position: absolute;
    visibility: hidden;
    z-index: -1;
}

.ddmx .bottom,
.ddmx .bottom:hover {
    border-bottom: 1px solid #000000;
}

* html .ddmx td { 
    position: relative; 
} /* ie 5.0 fix */
