<?php
$members_data .= <<<DATA
				<tr align="center">
					<td class="row2"><b><a href="profile.php?action=show&member={$user_id}" title="{$fm->LANG['UserProfile']} {$user['name']}">{$user['name']}</a><b</td>
					<td class="row2">{$user['title']}</td>
					<td class="row2">{$user['posts']}</td>
					<td class="row2">{$user['joined']}</td>
					<td class="row2">{$user['location']}</td>
					<td class="row2">{$user['mail']}</td>
					<td class="row2">{$user['www']}</td>
					<td class="row2">{$user['icq']}</td>
				</tr>
DATA;
?>
