<?php
$news_data =<<<DATA
			<br>
			<table class="tableborder" width="100%" border="0" cellspacing="1" cellpadding="4">
				<tr>
					<th colspan="4" class="maintitle" align="left">
						<img src="./templates/InvisionExBB/im/nav_m.gif" border="0"  alt="&gt;" width="8" height="8" /> &nbsp;{$fm->LANG['Announ']}
					</th>
				</tr>
				<tr>
					<th class="titlemedium" colspan="4">&nbsp;</th>
				</tr>
				<tr>
					<td class="titlemedium1" width="2%" align="center"><img src="./templates/InvisionExBB/im/news.gif" border=0></td>
					<td class="row4" width="59%"><b><a href="announcements.php" title="{$fm->LANG['Read']}">{$titlenews}</a></b></td>
					<td class="row2" width="14%" align="center">[<a href="announcements.php" title="{$fm->LANG['Read']}">{$fm->LANG['Read']}</a>]</td>
					<td class="row2" width="25%" nowrap="nowrap"><b>{$dateposted}</b></td>
				</tr>
				<tr>
					<td class="darkrow2" colspan="4">&nbsp;</td>
				</tr>
			</table>
DATA;
?>
