<?php
$PreviewData = <<<DATA
			<div class="tableborder">
				<div class="maintitle"><img src="./templates/InvisionExBB/im/nav_m.gif" border="0"  alt="&gt;" width="8" height="8" />&nbsp;<b>{$fm->LANG['PreviewTitle']}</b></div>
				<div class="titlemedium1">{$PreviewText}</div>
				<div class="darkrow2">&nbsp;</div>
			</div>
			<br>
DATA;
?>
