<?php
echo <<<FORM
			<br>
			<div id="navstrip" align="left">
				<img src="./templates/InvisionExBB/im/nav.gif" border="0"  alt="&gt;" />&nbsp;<a href="index.php">{$fm->exbb['boardname']}</a>&nbsp;&raquo;&nbsp;{$fm->LANG['SendPassTitle']}
			</div>
			<br>
			<form action="profile.php" method="post">
				<input type="hidden" name="action" value="lostpassword">
				<table cellpadding="4" cellspacing="1" border="0" width="100%" align="center" class="tableborder">
					<tr>
						<td  class="maintitle" colspan="2" height="29"><img src="./templates/InvisionExBB/im/nav_m.gif" border="0" alt="&gt;" width="8" height="8"/>&nbsp;{$fm->LANG['FillForm']}</td>
					</tr>
					<tr>
						<td class="profilleft"><b>{$fm->LANG['EnterYouName']}</b></td>
						<td class="profilright"><input type="text" style="width: 200px" size="35" maxlength="35" name="membername"></td>
					</tr>

					<tr>
						<td class="profilleft"><b>{$fm->LANG['ReSendPass']}</b></td>
						<td class="profilright"><input type="checkbox" name="resend" value="yes"> <span class="desc">{$fm->LANG['ReSendPassDesc']}</span></td>
					</tr>
					<tr>
						<td colspan="2" align="center" height="29" class="darkrow2"><input type="submit" value="{$fm->LANG['Send']}" name="DoSend"></td>
					</tr>
				</table>
			</form>
FORM;
?>
